<div class="container text-center">
    <h2 class="title"> Sitio web necesario para controlar el inventario de una tienda</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 contenedor" >
            <div class="lista_desordenada">
                <ul class="list-group">
                    <h3 class="section-title">Integrantes</h3>
                    <li class="list-group-item">Hidalgo Yanez Carlos Julio</li>
                    <li class="list-group-item">Lañon Angulo Kevin Paul</li>
                    <li class="list-group-item">Mendoza Mejía Diego Elian</li>
                    <li class="list-group-item">Morales Soledispa Brayan Fabián</li>
                    <li class="list-group-item">Parra Muñoz Arturo Joao</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="section-title">Curso</h3>
                <p class="course">SOF-S-NO-7-4</p>
            </div>
            <div class="col-md-6">
                <h3 class="section-title">Docente</h3>
                <p class="teacher">Ing. Jose Luis Alonso Anguizaca, MSc.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">

    </div>
    <div class="row justify-content-center mt-4">

    </div>
</div>