<!-- Registro de productos -->
<div class="container" style="justify-content: center; width: 70%; padding: 5%;">
  <div class="row border-0 shadow-lg">
    <h2>Registro de Productos</h2><br>
    <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
      <div class="row">
        <div class="col" style="margin: 1%;">

          <div class="form-group">
            <label for="nombreCategoria">Seleccionar Categoría:</label>
            <select class="form-select" aria-label="Default select example" id="nombreCategoria" required [(ngModel)]="producto.categoria_id_categoria" name="nombreCategoria">
              <option value="">Seleccionar</option>
              <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nombreCategoria }}</option>
            </select>
          </div><br>

          <div class="form-group col">
            <label for="nombreProducto">Nombre:</label>
            <input type="text" class="form-control" id="nombreProducto" placeholder="Ingrese el nombre del producto" required
              [(ngModel)]="producto.nombreProducto" name="nombreProducto">
          </div><br>

          <div class="form-group col">
            <label for="marca">Marca:</label>
            <input type="text" class="form-control" id="marca" placeholder="Ingrese la marca del producto" required
              [(ngModel)]="producto.marca" name="marca">
          </div>

        </div>

        <div class="col" style="margin: 1%;">

          <div class="form-group col">
            <label for="peso">Peso:</label>
            <input type="number" class="form-control" id="peso" step="0.1" name="peso" placeholder="Ingrese el peso del producto" required [(ngModel)]="producto.peso" min="0">
          </div><br>

          <div class="form-group col">
            <label for="precioCompra">Precio de Compra ($):</label>
            <input type="number" class="form-control" id="precioCompra" step="0.1" name="precioCompra" placeholder="Ingrese el precio de compra" required [(ngModel)]="producto.precioCompra" min="0">
          </div><br>

          <div class="form-group col">
            <label for="precioVenta">Precio de Venta ($):</label>
            <input type="number" class="form-control" id="precioVenta" step="0.1" name="precioVenta" placeholder="Ingrese el precio de venta" required [(ngModel)]="producto.precioVenta" min="0">
          </div><br>

          <div class="form-group col">
            <label for="cantidad">Cantidad en Stock:</label>
            <input type="number" class="form-control" id="cantidad" step="1" name="cantidad" placeholder="Ingrese la cantidad en stock" required [(ngModel)]="producto.cantidad" min="0">
          </div><br>

        </div>
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" [disabled]="!productoForm.form.valid">Guardar Producto</button>
        <br><br>
      </div>

    </form>
  </div>
</div>
