<div class="listar_inv_agotado border-0 shadow-lg table-responsive" style="padding: 2%;">
  <!-- Listados de Inventarios -->
  <h2>Listados de Inventarios</h2>
  <h3>Productos Agotados o Próximos a Agotar (inferiores a 10)</h3>
  <table id="inventarioPorProducto" class="table table-striped" style="text-align: center;">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Peso</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Cantidad en Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos | async" [class.table-danger]="siStockInsufficient(producto.cantidad)">
        <td>{{ producto.id_producto }}</td>
        <td>{{ obtenerNombreCategoria(producto.categoria_id_categoria) }}</td>
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.peso | number: '1.2-2' }}g</td>
        <td>${{ producto.precioCompra | number: '1.2-2' }}</td>
        <td>${{ producto.precioVenta | number: '1.2-2' }}</td>
        <td>{{ producto.cantidad }}</td>
      </tr>
    </tbody>
  </table>
</div>
